<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="apiKey" value="YOUR_API_KEY"/>
    <add key="clientId" value="YOUR_CLIENT_ID"/>
    <add key="clientSecret" value="YOUR_CLIENT_SECRET"/>
    <add key="refreshToken" value="YOUR_REFRESH_TOKEN"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
</configuration>